:root {
    --banner: salmon
}

header {
    height: 80px
}

.textBlock {
    max-width: 520px;
}

#home a {
    background-color: var(--banner);
    color: var(--bannerText);
    font-family: var(--font2);
}

#content a img {
    height: 40px;
    width: auto
}

.smallResource {
    width: 230px !important;
    height: 50px !important;
    margin: 0 auto
}

#resources>div>div>p {
    max-width: 350px;
}

.border {
    border: 3px solid var(--banner);
    border-radius: 5px
}

/* Monkey Tool */

.monkeyColor {
    background-color: #63b5a9
}

#tableDiv table {
    border-spacing: 3px
}

#tableDiv td {
    width: 200px;
    height: 150px;
    background-color: #63b5a9;
}

#buttons .button {
    width: 70px;
    height: 28px;
    font-size: 130%
}

#buttons .container {
    justify-content: left;
}

.mdhrCrest {
    background-color: white !important
}

.mdhrOther {
    background-color: black !important;
}

.cuphead1 {
    background-color: crimson !important;
}

.mugman {
    background-color: dodgerblue !important;
}

.diceLeft {
    background-color: limegreen !important;
}

.diceRight {
    background-color: var(--cuphead) !important;
}

/* Graveyard Tool */

.graveyardColor {
    background-color: darkseagreen;
}

.graveyard.button {
    font-family: 'cuphead-felix';
    padding-top: 2px;
    margin: 8px 0;
    height: 24px !important;
    width: 150px !important
}

#graveyard div {
    background-color: darkseagreen;
}

.bracket {
    position: absolute;
    top: 0;
    width: 15px;
    height: 190px;
}

.bracket::before,
.bracket::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: gray;
}

.bracket::before {
    top: 0;
    /* top line */
}

.bracket::after {
    bottom: 0;
    /* bottom line */
}

.bracket .side {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 2px;
    background: gray;
}

.infoButton {
    width: 60px;
    font-family: var(--font2);
    font-size: 100%
}

#tabs {
    width: 300px !important
}